.controls > *,
.skin-change > div {
    background-color: var(--red);

    font-size: 3vh;
    text-align: center;

    background: linear-gradient(
        0deg, 
        black 0%,
        var(--dark-red) 10%,
        var(--red) 40%, 
        var(--red) 60%,
        var(--dark-red) 90%,
        black 100%
        );

    box-shadow: 0 0 .5vh 0 black;
}

.controls > *{
    font-size: 5vh;

}

.controls > div:active,
.skin-change > div:active {
    box-shadow: 1 1 5vh 0 black inset,
        0 0 1vh 0 var(--text-color);
}

.big-button:active {
    font-size: 4.8vh;
}

.d-pad {
    background: linear-gradient(
        90deg, 
        /*black 0%,*/
        
        var(--red) 20%, 
        var(--red) 60%,
        var(--dark-red) 70%,
        black 98%
        );

    border-radius: 5vh;
    border-bottom-left-radius: 2vh .1vh;
    border-top-right-radius: 2vh .1vh;

}

.reset {
    right: 2vh;
    top: 2vh;



    border-radius: 3vh;

    font-size: 2.5vh;
}

.skin-change > div {
    width: 5vh;
    height: 4vh;
    margin-right: 1vh;
}

.previous {
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
}

.next {
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}